@import "tailwindcss";

@theme {
  --color-primary: #f1571f;
  --color-primary-700: #d14d1e;
  --color-gray: #efefef;
  --color-gray-100: #f7f7f7;
  --color-gray-700: #9a9a9a;

  --color-duck: #fecd03;

  --font-family: "Modak";
}
